$base-color: #00afbc;
$button-color: #00a0b0;
$button-hover-color: #017e8b;
$black: #231f20;
$cyan-dark: #0b4d55;
$cyan-light: #e5f7f8;
$footer-nav-link: #5fbbbf;
$footer-nav-hover-link: #b8dfe1;
$footer-social: #bcbcbc;
$footer-social-hover: #00b5bd;
$pink: #d9318a;
$grey: #f5f9f9;
$green: #63a751;
$red: #d3343f;
