@import "./reset.sass";
@import "./sizes.scss";
@import "./colors.scss";
@import "./mixins.scss";

/*##############  Preflight Styles ###############*/
@font-face {
  font-family: GothamBook;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/GothamRnd-Book_0.otf");
}
@font-face {
  font-family: GothamBookMedium;
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/GothamRnd-Medium_0.otf");
}

body {
  font-family: GothamBook, sans-serif;
  line-height: 1.5em;
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*##############  Header Styles ###############*/
header {
  @include display-flexbox();
  @include flex-wrap(wrap);
  @include align-items(stretch);
  @include justify-content(space-between);
  width: 100%;
  padding: 10px 40px;
  background-color: white;
  position: fixed;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 23px -6px rgba(0,0,0,0.52);
  -moz-box-shadow: 0px 0px 23px -6px rgba(0,0,0,0.52);
  box-shadow: 0px 0px 23px -6px rgba(0,0,0,0.52);

  @include media-query($small) {
    align-self: center;
    padding: 10px 25px;    
  }

  ul.main-navigation {
    @include display-flexbox();
    @include align-items(stretch);
    @include justify-content(space-between);
    width: auto;

    @include media-query($medium-down) {
      display: none;
    }

    li {
      position: relative;
      display: flex;
      @include align-items(center);
      margin: 0 1.5em;
      
      &:hover {
        cursor: pointer;
        ul {
          display: block;          
          
          li {
            width: 100%;
          }
        }
      }

      a {
        color: $black;
        font-family: GothamBookMedium, sans-serif;
        text-decoration: none;
      }

      ul {
        display: none;
        position: absolute;  
        bottom: -80px;
        padding: 5px;        
        width: 150px;              
        background-color: white;
        border-radius: 5px;        
        z-index: 100;
        transition: all ease-out 300ms;
        @include generic-box-shadow();

        li {
          padding: 0.5em;
          margin: 0 0.2em;
          a {
            width: 100%;
            &:hover {
              color: $base-color;
            }
          }
        }
      }
    }
  }

  ul.mobile-navigation {
    padding-top: 1.2em; 
    li {
      a {
        text-decoration: none;
        color: $black;
        font-weight: 900;
        padding: 0.8em 0;
        display: block;
        border-bottom:  1px solid lighten($color: $black, $amount: 80);
        position: relative;

        &::after {
          position: absolute;
          right: 0;
          font-size: 1.5em;
        }   

        &.show {
          color: $base-color;  
          border-bottom: none; 
          &::after {
            content: "\2212" !important;
          } 
        }

        &.has-child {
          &::after {
            content: "\002B";
          }
        }
      }

      ul.dropdown {
        display: none;
        list-style: none;

        &.show {
          display: block;
          border-bottom:  1px solid lighten($color: $black, $amount: 80);
        }

        li {
          @include circle-bullets();

          a {
            border-bottom: none;
            display: inline-block;
          }
        }
      }
    }
  }

  .mobile-navbar {
    .follow {
      display: flex !important;
      @include justify-content(center);
      text-align: center;
      color: $black;
      font-weight: 900;
      padding-top: 2em;

      &--icons {
        display: flex;
        @include align-items(center);        
      }
    }
  }

}

/*##############  Home Slider Styles ###############*/
.slick-slider {

  .slide {
    position: relative;

    &.light {
      h1 {
        color: $cyan-dark;
      }

      h2, p {
        color: $black;
      }
      a {
        background-color: $base-color;
        color: white;
      }
    }
  }

  .slick-dots {
    left: 20px;
    top: 50%;
    width: auto;

    li {
      display: block;

      &.slick-active {
        button:before {
          color: white;
        }        
      }
      button:before {
        font-size: 12px;
      }
    }
  }

  @include banner-image();

  @include banner-text();

  &__text {
    h2 {
      font-size: 1.3em;;
    }
  }
}

/*##############  Banner Styles ###############*/
.banner {    
  position: relative;

  &.healthy-tips { // Page Healthy Tips
    .banner__image {
      height: 320px !important;
    }    
  }

  &.light {
    h1 {
      color: $cyan-dark;
    }
    p {
      color: $black;
    }
    a {
      background-color: $base-color;
      color: white;
    }
  }

  @include banner-image();

  @include banner-text();
}

/*##############  Mini Popup Styles ###############*/
.popup {
  position: fixed;
  left: 10px;
  bottom: 10px;
  padding: 10px 20px;
  background-color: white;
  border-radius: 15px;
  @include generic-box-shadow();

  &.hide {
    display: none;
  }

  &--wrapper {
    position: relative;
    font-weight: 800;

    .gatsby-image-wrapper {
      margin-top: 0.4em;
    }

    button {
      position: absolute;
      top: 0px;
      right: -15px;
      width: 14px;
      background: none;
      border: none;
      padding: 0;
      color: transparent;

      &::before {
        content: '';
        background-color: lighten($color: $black, $amount: 60);
        width: 3px;
        height: 14px;
        transform: rotate(45deg);
        display: block;
        position: absolute;
        top: 0;
        left: 0px;
      }
      &::after {
        content: '';
        background-color: lighten($color: $black, $amount: 60);
        width: 3px;
        height: 14px;
        transform: rotate(-45deg);
        display: block;
        position: absolute;
        top:0;
        left: 0px;
      }
    }
  }
}



/*##############  Main Styles ###############*/
main {
  padding-top: 108px;
}

.content-wrapper {  
  background: url('../images/creative1.png') left 20% no-repeat, url('../images/creative2.png') right calc(100% - 30%) no-repeat; 

  &.home { // Home Page
    background-position: left 20%, right bottom -50px;
  }

  &.benecol { // Benezol Page
    background: url('../images/creative1.png') left 20% no-repeat, url('../images/heart-doctor.jpg') right 100px bottom -60px no-repeat; 
    background-size: auto auto, 300px auto;
  }

  &.healthy-tips, &.recipes { // Healthy Tips Page
    background: url('../images/creative3.png') left -50px bottom -60px no-repeat; 
    background-size: 230px auto;
    margin-top: -160px;
    padding-bottom: 100px;
    position: relative;

    @include media-query($medium-down) {
      margin-top: 0px;
    }
  }

  &.faq { // FAQ Page
    background: url('../images/creative3.png') left -50px bottom -60px no-repeat; 
    background-size: 230px auto;
  }

  &.dark {
    background: none; 
    background-color: $grey;       
    padding-bottom: 4em;
  }

  &.blank {
    background: none; 
  }

  &.post {
    .wp-block-columns {
      .wp-block-column {
        @include align-self(flex-start);

        &:first-child {          
          padding-left: 0;
          p {
            padding-left: 20%;
          }
        }
        &:last-child {
          p {
            padding-right: 20%;
          }
        }

        @include media-query($medium-down) {
          &:first-child {  
            padding-left: 0.8em;        
            p {
              padding-left: 0;
            }
          }
          &:last-child {
            p {
              padding-right: 0;
            }
          }
        }

      }
    }
  }

  @include media-query($medium-down) {
    background-size: 100px auto;

    &.benecol { // Benezol Page
      background: url('../images/heart-doctor.jpg') right 100px bottom -60px no-repeat; 
      background-position: bottom 20px center;
      background-size: 200px auto;
      padding-bottom: 220px;
    }
  }

  &--container {
    width: $grid-large;
    padding-top: 4em;
    margin: 0 auto;

    &:not(:first-child) {
      padding-top: 0;
    }

    @include media-query($medium-down) {
      width: 100%;
      padding: $grid-gutter;
    }
  }

  h1 {
    font-size: 3em;
    font-family: GothamBookMedium, sans-serif;
    padding-bottom: 0.5em;
    color: $cyan-dark;
    line-height: 1.2em;

  }

  h2 {
    font-family: GothamBookMedium, sans-serif;
    font-size: 2.7em;
    padding-bottom: 0.5em;
    line-height: 1.2em;
    color: $cyan-dark;

    @include media-query($medium-down) {
      font-size: 2.0em;
    }
  }

  h4 {
    font-family: GothamBookMedium, sans-serif;
    color: $cyan-dark;
    font-size: 1.6em;
    line-height: 1.2em;
    padding-bottom: 0.5em;
  }

  strong {
    font-family: GothamBookMedium, sans-serif;
  }

  p {
    font-size: 0.9em;
    padding-bottom: 2em;
    color: $black;
  }

  ul {
    list-style: circle;

    li {
      padding-bottom: 0.8em;

      &:last-child {
        padding-bottom: 0em;
      }
    }
  }

  a {
    background-color: white;      
    text-decoration: none; 
    color: $base-color;     

    &.button {
      @include button();
    }
  }

  .button {
    a {
      @include button();
    }
  }
  
  figure {
    &.fixed {
      img {
        width: auto;
      }
    }
    img {
      width: 100%;
    }
  }

  

  .wp-block-columns {
    @include display-flexbox();
    @include align-items(center);
    padding: 3em 0;

    &.flex-start {
      @include align-items(flex-start);
    }

    @include media-query($medium-down) {
      @include flex-direction(column);
      padding: 1em 0;
    }

    .wp-block-column {
      flex-basis: 50%;
      padding: 0 0.8em;

      &.flex-start {
        align-self: flex-start;
      }
      
      @include media-query($medium-down) {
        &:not(:first-child) {
          padding-top: 20px;
        }
      }

      strong {
        display: block;
        font-family: GothamBookMedium, sans-serif;
        font-size: 1.7em;
        padding-bottom: 0em;
        line-height: 1.2em;
        color: $cyan-dark;
      }

      ul {
        list-style: none;
        li {
          display: flex;
          width: 100%;
          padding-bottom: 0.8em;

          @include circle-bullets($pink);
          &::before {
            font-weight: 800;
            padding-right: 0.4em;
          }
        }
      }

      table {
        border: 1px solid $base-color;          
        width: 100%;

        tr {
          &:first-child {                            
            td {                
              background-color: darken($base-color, 5);                
              color: white;                             

              strong {
                color: white;
              }
            }
          }

          td {
            border-right: 1px solid $base-color;
            border-bottom: 1px solid $base-color;
            text-align: center;
            padding: 5px;   
          }

          strong {
            color: $black;
            font-size: 1.2em;
            padding: 10px;
            line-height: 0.2em;
          }
          
          
        }
      }

    }
  }

  
}

.featured-posts {
  @include display-flexbox;

  @include media-query($medium-down) {
    flex-direction: column;
  }  

  &--item {
    margin : 0.8em;
    background-color: white;
    border-radius: 10px;
    @include generic-box-shadow();

    &__image {
      img {
        border-radius: 10px;
      }
    }

    &__text {
      padding: 0.8em 0.8em 1em 1em;
      background-color: white;
      border-radius: 0 0 10px 10px;
      font-weight: 800;

      .title {
        a{
          color: $black;
          font-size: 1em;
          display: flex;
          @include justify-content(space-between);
          @include align-items(center);

          span {
            flex-basis: 70%;
          }

          &:hover {
            &::after {
              margin-right: 10px;
            }
          }

          &::after {
            content: '\2192';  
            color: $base-color;
            font-size: 1.5em; 
            transition: all cubic-bezier(0.6, -0.28, 0.735, 0.045) 100ms;         
          }
        }
      }
    }
  }
}

.social-icons {
  list-style: none !important;
  display: flex;
  

  li {
    margin: 0 0.8em;    
    padding: 0 !important;

    a {
      display: block;
      width: 30px;
      height: 30px;
      border-radius: 30px;
      background-color: $cyan-light;
      display: flex;
      @include justify-content(center);
      @include align-items(center);
      transition: all ease-out 300ms;

      &:hover {
        @include generic-box-shadow();
      }
    }
  }
  
}
/*##############  Recipes Styles ###############*/
.recipes-listing {
  @include display-flexbox();
  @include justify-content(space-between);
  @include flex-wrap(wrap);
  position: relative;
  z-index: 99;

  @include media-query($medium-down) {
    flex-direction: column;
  }  

  &--item {
    flex-basis: 48%;
    margin-bottom: 1.2em;
    background-color: white;
    border-radius: 10px 10px;
    height: 131px;
    @include generic-box-shadow();
    @include display-flexbox();

    @include media-query($medium-down) {
      border-radius: 0;
      box-shadow: none;
      height: auto;
      padding-bottom: 1.2em;
      border-bottom: 1px solid lighten($color: $black, $amount: 70);
    }  

    &__image {
      flex-basis: 45%;
      

      a {
        background-color: transparent;
      }

      img {
        border-radius: 10px;
        width: 100%;
      }
    }

    &__text {
     flex-basis: 55%;
     align-self: center;
     padding: 0.8em;

     a {
       color: $cyan-dark;
       font-weight: 900;
     }

     .author {
       @include contributed-by();
     }
    }
  }
}

.recipe-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 379px auto;
  grid-gap: 0px;

  @include media-query($medium-down) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  &--image {
    grid-column: 1 / 3;
    img {
      width: 100%;
      border-radius: 10px 0 0 0; 
    }

    @include media-query($medium-down) {
      grid-row: 4;
      img {
        border-radius: 0; 
      }
    }
  }

  &--text {
    color: white;
    background-color: darken($color: $base-color, $amount: 5);
    padding: 10px;
    display: flex;
    border-radius: 0 10px 0 0;
    @include flex-direction(column);
    @include justify-content(center);
    
    .category {
      &.recipes {
        font-size: 0.7em;
        color: inherit;
      }        
    }

    h1 {
      color: inherit;
      font-size: 2em;
    }

    p {
      color: inherit;
    }

    .author {
      @include contributed-by(inherit);
    }

    @include media-query($medium-down) {
      background-color: white;
      color: $cyan-dark;

      .category {
        &.recipes {
          color: $red;
        }
      }
    }
  }

  &--attributes {
    grid-column: 1 / 3;
    padding: 0 3em;
    @include display-flexbox();
    @include justify-content(space-between);
    border-radius: 0 0 0 10px;
    background-color: $cyan-light;
    height: 80px;

    @include media-query($medium-down) {
      background-color: white;
      padding: 0.8em;
      height: auto;
    }
    
    > div {
      display: flex;        
      @include align-items(center);

      span {
        padding-left: 0.8em;
        font-size: 0.7em;
        font-weight: 900;
        align-self: center;
      }
    }
  }

  &--social {
    border-radius: 0 0 10px 0;
    background-color: $cyan-light;
    height: 80px;
    @include display-flexbox();
    @include justify-content(center);    
    @include align-items(center);
    
    @include media-query($medium-down) {
      background-color: white;
      padding-bottom: 0.8em;
      height: auto;
      @include justify-content(flex-start);  
    }

    ul.social-icons {
      @include justify-content(flex-end);
      li {
        a {
          background-color: white;

          @include media-query($medium-down) {
            background-color: $cyan-light;
          }
        }
      }
    }
  }
}

.recipe-detail {
  @include display-flexbox();
  padding-top: 3em;

  @include media-query($medium-down) {
    @include flex-direction(column);
  }

  .col {
    &:first-child {
      flex-basis: 35%;
    }
    &:last-child {
      flex-basis: 65%;

      @include media-query($medium-down) {
        padding-top: 3em;
      }
    }

    h2 {
      color: $cyan-dark;
      font-size: 1.2em;
      margin-bottom: 1em;
    }

    ul {
      li {
        font-size: 0.8em;
      }
    }

    .ingredients {
      ul {
        list-style: none;
      }
    }
    
    .directions {
      ul {
        list-style: none;
        position: relative;
        padding-bottom: 0.8em;

        li {
          display: flex;
          position: relative; 
          
          &::before {
            content: "";  
            font-size: 1.2em;
            font-weight: 900;            
            z-index: 90;            
            display: inline-block;
            padding-right: 0.8em; 
            margin-top: 5px; 
            background: url('../images/blue-white-bullet.png') no-repeat top;
            background-size: contain; 
            margin-right: 0.8em;
          }

          &::after {
            content: '';
            position: absolute;
            left: 5px;
            top: 14px;
            width: 1px;
            height: 100%;
            background-color: lighten($color: $black, $amount: 70);
            z-index: 0;
          }

          &:last-child {
            border-left: none;

            &::after {
              background-color: transparent;
            }
          }
        }
      }
    } 

    .nutrition {
      padding-top: 2.5em;
      
      &-wrapper {
        @include display-flexbox();

        &--label {
          font-size: 0.7em;
          font-weight: 900;
          flex-basis: 125px;
        }

        &--list {          

          ul {
            list-style: none;
            @include display-flexbox();
            @include flex-wrap(wrap);

            li {
              background-color: $cyan-light;
              padding: 0.3em 1em;
              border-radius: 20px;
              margin-right: 0.8em;
              margin-bottom: 0.8em;
            }
          }
        }
      }
      
    }
  }
}

/*##############  Pagination Styles ###############*/
.pagination {
  @include display-flexbox();
  @include justify-content(space-between);
  padding: 0.8em 2em 4em 2em;

  a {
    font-size: 1.3em;
    font-weight: 900;
    text-decoration: none;
    color: $base-color;

    &:hover {
      text-decoration: underline;
    }
  }
}


/*##############  Footer Styles ###############*/
footer {
  background-color: $black;
  color: white;

  .wrapper {
    @include center-wrapper();
    
    @include media-query($medium-down) {
      width: 100%;
    }

    .row {
      @include display-flexbox();
      padding: 2em 0; 

      @include media-query($small) {
        @include flex-direction(column);
      }

      @include media-query($medium-down) {
        padding: 1.3em;        
      }

      .col {

        &:first-child {
          @include flex-basis(45%);
          padding-right: 10%;
        }

        &:nth-child(2) {
          padding-right: 10%;
        }
      }

      .intro {
        font-size: 0.9em;
        p {
          padding-top: 1.2em;
        }
      }
    }

    &--separator {
      border-top: 1px solid lighten($color: $black, $amount: 10);

      .row {
        @include justify-content(space-between);
        @include align-items(center);

        .col {
          font-size: 0.9em;

          &:first-child {
            @include flex-basis(50%);
            padding-right: 0.8em;             
          }

          &:last-child {            
            align-self: flex-end;
            display: flex;
            @include justify-content(center);
            @include align-items(center);

            @include media-query($small) {
              align-self: center;
              padding-top: 0.8em;
            }
          }
        }
      }
    }

    .footer-navigation {  
      padding-top: 60px;    

      @include media-query($small) {
        padding-top: 0px; 
      }

      li {
        padding-bottom: 0.8em;

        @include media-query($small) {
          margin: 0 !important;
        }

        a {
          color: $base-color;
          text-decoration: none;
          font-weight: 900;
        }        
      }
    }
  }

}

/*##############  Helper Styles ###############*/
.center-container {
  width: $grid-widescreen;
  margin: 0 auto;
}
.follow {
  &--text {
    padding-right: 0.8em;
  }
  &--icons {
    a {
      padding-left: 0.8em;
    }
  }
}
.img-fluid {
  width: 100%;
  height: auto;
}
.category {
  font-size: 0.7em;        
  color: $green;

  &.recipes {
    color: $red;
  }
}
.text-center {
  text-align: center;
}

.category {
  font-weight: 800;
  font-size: 0.7em;        
  color: $green;

  &.recipes {
    color: $red;
  }
}



/*##############  Media Styles ###############*/


@include media-query($medium-up) {
  .mobile-navbar {
    display: none;
  }
}

@include media-query($medium-down) {
  .mobile-navbar {
    display: block;
  }
  .m-flex-reverse {
    flex-direction: column-reverse !important;

    .wp-block-column {
      &:not(first-child) {
        padding: 0 !important;
      }
      &:first-child {
        padding-top: 20px !important;
      }
    }
  }
}

@include media-query($small) {
  .m-pt {
    padding-top: 1em !important;
  }
}

/*##############  Responsive Navbar Styles ###############*/
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: $black;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: $base-color;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: white;
  padding: 0 1.5em;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em 0;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}