@import "./reset.sass";
@import "./sizes.scss";
@import "./colors.scss";
@import "./mixins.scss";

/*##############  Header Styles ###############*/
header {
  @include display-flexbox();
  @include flex-wrap(wrap);
  @include align-items(center);
  @include justify-content(space-between);
  width: 100%;
  height: 50px;
  padding: 0 20px;

  ul.main-navigation {
    @include display-flexbox();
    width: auto;
  }
}

/*##############  Main Styles ###############*/
main {
  overflow: hidden;
}

.slick-slider {
  background-color: $base-color;

  .slide {
    position: relative;
  }

  &__image {
    @include display-flexbox();
    @include justify-content(flex-end);
  }

  &__text {
    position: absolute;
    z-index: 1000;
    left: 10%;
    top: 15%;

    h1 {
      font-size: 2.5em;
      font-weight: 900;
      padding-bottom: 0.5em;
    }

    h2 {
      font-size: 2.0em;
      padding-bottom: 0.5em;
    }

    a {
      background-color: white;
      padding: 10px;
      border-radius: 20px;
      display: inline-block;
    }
  }
}



.featured-posts {
  @include display-flexbox;
}

/*##############  Footer Styles ###############*/
footer {
  background-color: $black;
  color: white;

  .wrapper {    
    .row {
      @include display-flexbox();
      padding: 0.8em;

      .col {
        padding: 0 $grid-gutter;
        &:first-child {
          @include flex-basis(45%);
          padding-right: 10%;
        }
      }
    }
  }
}

/*##############  Helper Styles ###############*/
.center-container {
  width: $grid-widescreen;
  margin: 0 auto;
}
