@import "./reset.sass";
@import "./sizes.scss";
@import "./colors.scss";
@import "./mixins.scss";

/*##############  Header Styles ###############*/
header {
  @include display-flexbox();
  @include flex-wrap(wrap);
  @include align-items(center);
  @include justify-content(space-between);
  width: 100%;
  height: 50px;
  padding: 0 20px;

  ul.main-navigation {
    @include display-flexbox();
    width: auto;
  }
}

/*##############  Main Styles ###############*/
main {
  overflow: hidden;
}

.slick-slider {
  background-color: $base-color;
}

.main-container {
  width: $grid-widescreen;
  margin: 0 auto;
}

.featured-posts {
  @include display-flexbox;
}

/*##############  Footer Styles ###############*/
footer {
  background-color: $black;
  color: white;
}
